CLIENT_URL=
FROM_EMAIL=
FROM_NAME=
JWT_ACCESS_EXPIRES=
JWT_ACCESS_SECRET=
JWT_REFRESH_EXPIRES=
JWT_REFRESH_SECRET=
MONGODB_URI=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
VITE_API_URL=
VITE_RAZORPAY_KEY_ID=