# Server Environment Variables
PORT=3000
NODE_ENV=
DATABASE_URL=
CORS_ORIGIN=
JWT_SECRET=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES=
JWT_REFRESH_EXPIRES=
CLIENT_URL=

# Payment Gateway (Razorpay)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Email Service (SMTP)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=
FROM_NAME=

# Frontend Environment Variables (Vite)
VITE_API_URL=
VITE_RAZORPAY_KEY_ID=
